@import './_global.scss';

html{
  height: 100%;
}

body {
    width: 100%;
    min-height:100%;
    background-attachment: fixed;
    background-size: cover;
    font-family: $mono-space;
    color: white;
    font-size: $font-p;
    
    h2{
        font-family: $sans-serif;
        font-size: 1.5em;
        font-weight: initial;
    }
    
    textarea {
        font: inherit;
    }
    
    a {
        color: white;
        text-decoration: underline;
        font-style: italic;
        text-decoration: underline;
        font-family: $mono-space;
        font-size: $font-sm;
        cursor: pointer !important;
    }
    
    button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
        text-align: center;
        
        @extend a;
    }
}




.like-or-dislike{
	display: flex;
	justify-content: center;
    color: white;
    align-items: center;
    margin: 10px;
    
    .thumb-up, .thumb-down{
        font-size: 24px;
        width: 3em;
        height: 3em;
        opacity: 0.77;
        transition-duration: 100ms;
        &:hover{
            opacity: 1;
        }

        &.active{
            opacity: 1;
        }
    }
}



