@import url('https://fonts.googleapis.com/css?family=Roboto:900|Ubuntu+Mono:400,400i');
$sans-serif: 'Roboto', sans-serif;
$mono-space:'Ubuntu Mono', monospace;

.thumb-down, .thumb-up {
    color: white;
}

.link{
    text-decoration: underline;
    font-family: $mono-space;
    font: italic;
}

.bigbold{
    text-align: center;
    color: white;
    font-family: $sans-serif;
}

html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background-attachment: fixed;
  background-size: cover;
    font-family: $mono-space;
    color: white;
    
    input {
        font-family: inherit;
    }
}


button{
    background: none;
    color: inherit;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: inherit;
    
    text-align: center;
    @extend .link;
}

.like-or-dislike{
	display: flex;
	justify-content: center;
}

.thumb-up{
	font-size: 3em;
	width: 3em;
	height: 3em;
	margin-right: 10%;
}


.thumb-down{
	font-size: 3em;
	width: 3em;
	height: 3em;
	margin-left: 10%;

}

.questionWrapper{
    width: 68%;
	height: 50%;
	//background-color: green;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
    
    .questionContent{
        font-size: 4em;
        @extend .bigbold;
    }
}

.submitForm{
    position: fixed;
    bottom: 1em;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */

}

.info {
    position: fixed;
    top: 0;
    right: 0;
}

.menu {
    display: block;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
}
