@import url('https://fonts.googleapis.com/css?family=Roboto:900|Ubuntu+Mono:400,400i');
$sans-serif: 'Roboto', sans-serif;
$mono-space:'Ubuntu Mono', monospace;

$tablet: "screen and (min-width:425px) and (min-height:425px)";
$menu-max-width : 20em;

.thumb-down, .thumb-up {
    color: white;
}

.link{
    text-decoration: underline;
    font-family: $mono-space;
    font: italic;
}

.bigbold{
    text-align: center;
    color: white;
    font-family: $sans-serif;
}

html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background-attachment: fixed;
  background-size: cover;
    font-family: $mono-space;
    color: white;
    
    input {
        font-family: inherit;
    }
    
    a {
        color: white;
        text-decoration: underline;
        font-style: italic;
    }
}


button{
    background: none;
    color: inherit;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: inherit;
    
    text-align: center;
    @extend .link;
}

.like-or-dislike{
	display: flex;
	justify-content: center;
}

.thumb-up, .thumb-down{
    font-size: 3em;
	width: 3em;
	height: 3em;
    transition-duration: 100ms;
    &:hover{
        opacity: 0.8;
        &:active{
//            -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
//            -moz-box-shadow:    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
//            box-shadow:         inset 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        }
    }

}
.thumb-up{
	margin-right: 10%;
}
.thumb-down{
	margin-left: 10%;
}

.questionWrapper{
    width: 68%;
	height: 50%;
	//background-color: green;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
    
    .questionContent{
        font-size: 4em;
        @extend .bigbold;
    }
}

.submitForm{
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    
    .submitButton{
        padding: initial;
        margin-left: 10px;
    }
}

.info {
    position: fixed;
    top: 0;
    right: 0;
}


.menu {
    display: block;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100vw; height: 100vh;
    top: 0; right: 0;
    
    @media #{$tablet}{
        width: $menu-max-width;
    }
}

.caption {
    position: fixed;
    width: 100vw; height: 100vh;
    top: 0; right: 0;
    z-index: 2;
     
     &-inner{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-80%);
        width: 80%;
        text-align: center;
     }
     
    @media #{$tablet}{
        width: $menu-max-width;
        &-inner{width: 70%};
    }
}

.menu {
    opacity: 0;
    visibility: hidden;
    
    &-enter,&-exit-done {
        opacity: 0;
        transform: translateY(-50%);
        
        @media #{$tablet}{
            opacity: 0.6;
            transform: translateX(80%);
        }
    }
    
    &-enter-active,&-enter-done,&-exit{
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        @media #{$tablet}{
            transform: translateX(0%);
        }
    }

    &-exit-done, &-enter-active {
      transition: all 200ms ease-in;
    }
}

.caption {
    opacity: 0;
    visibility: hidden;
    
    &-enter,&-exit-done {
        opacity: 0;
        @media #{$tablet}{
            transform: translateX(80%);
        }
    }
    
    &-enter-active,&-enter-done,&-exit{
        opacity: 1;
        visibility: visible;
        @media #{$tablet}{
            transform: translateX(0%);
        }
    }

    &-exit-done, &-enter-active {
      transition: all 200ms ease-in;
    }
}