@import url("https://fonts.googleapis.com/css?family=Roboto:900|Ubuntu+Mono:400,400i");
.link, button {
  text-decoration: underline;
  font-family: "Ubuntu Mono", monospace;
  font: italic; }

.bigbold, .questionWrapper .questionContent {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif; }

html {
  height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: blue; }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  text-align: center; }

.like-or-dislike {
  display: flex;
  justify-content: center; }

.thumb-up {
  font-size: 3em;
  width: 3em;
  height: 3em; }

.thumb-down {
  font-size: 3em;
  width: 3em;
  height: 3em; }

.questionWrapper {
  width: 68%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .questionWrapper .questionContent {
    font-size: 4em; }

.submitForm {
  position: fixed;
  bottom: 1em;
  left: 50%;
  margin-left: -50px;
  /* margin is -0.5 * dimension */ }
