html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background-attachment: fixed;
  background-size: cover;
}

.questionBody{
	position: absolute;
    width: 100px;
    height: 20%;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
	background-color: red;
}